.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F8F8FF;
  color: #8887AB;
}

.profile-container {
  /* margin: 0.5rem; */
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 2rem 0.5rem 4rem 1rem;
}

.profile-image {
  width: 50px; 
  height: 50px; 
  border-radius: 10px;
  object-fit: cover;
}

.profile-text {
  position: absolute;
  left: 5rem; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-text h4, .profile-text p {
  margin: 0;
}

.profile-text h4 {
  font-size: 16px; 
}

.profile-text p {
  font-size: 14px; 
  
}

.navbar {
  /* margin: 14rem 0 0 0.8rem; */
  height: 75vh;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-item.selected {
  color: black;
  border-left: 3px solid red;
  padding-left: 0.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: #8887AB;
}

.nav-item p {
  margin: 0;
}

.nav-item.selected {
  border-left: 3px solid red;
  padding-left: 0.5rem; 
}

.logout-button {
    /* margin: 14rem 0 0 0.8rem; */
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: "#8483A9";
}


/* Media query for tablets (768px and below) */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-text {
    position: static;
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .navbar, .logout-button {
    margin: 5rem 0 0 0.8rem;
  }
}

/* Media query for mobile devices (480px and below) */
@media (max-width: 480px) {
  .profile-image {
    width: 40px;
    height: 40px;
  }

  .profile-text h4 {
    font-size: 14px;
  }

  .profile-text p {
    font-size: 12px;
  }

  .navbar, .logout-button {
    margin: 3rem 0 0 0.8rem;
  }
}

